@import "../../.cache/wal/colors-waybar.css";

* {
    font-family: "RobotoMonoNerdFont";
    font-size: 14px;
    padding: 0.1rem 0.5rem;
}

#waybar {
    border-bottom: 1px solid alpha(@background, 0.15);
    background-color: alpha(@background, 0.35);
}

tooltip {
    background-color: alpha(@background, 0.65);
}

/* Base style for all workspace buttons (Inactive) */
#workspaces button {
    color: @color15; /* Grey/Dim text */
}

#workspaces button:hover {
    background-color: alpha(@background, 0.45);
}

/* Style for the ACTIVE workspace button */
#workspaces button.active {
    color: @color17; /* Bright White */
    font-weight: bold; /* Optional: Make it bold */
}

/* Style for URGENT workspaces (e.g., notification in that workspace) */
#workspaces button.urgent {
    color: #ff0000; /* Red */
}

#workspaces button:hover {
    border: none;
    color: @color14;
}
