@import "../../.cache/wal/colors-waybar.css";

* {
    font-family: "RobotoMonoNerdFont";
    font-size: 14px;
    padding: 0.1rem 0.5rem;
    background: none;
}

#waybar {
    background-color: rgba(0, 0, 0, 0.35);
}

/* Base style for all workspace buttons (Inactive) */
#workspaces button {
    color: #888888; /* Grey/Dim text */
}

/* Style for the ACTIVE workspace button */
#workspaces button.active {
    color: #ffffff; /* Bright White */
    font-weight: bold; /* Optional: Make it bold */
}

/* Style for URGENT workspaces (e.g., notification in that workspace) */
#workspaces button.urgent {
    color: #ff0000; /* Red */
}

#workspaces button:hover {
    border: none;
    color: #66aacc;
}
